*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #CCE4FF;
}

#boton{
	width: 100px;
	height: 50px;
	background-color: #F30C0C;
}

#botonDos{
	width: 100px;
	height: 50px;
	background-color: blue;


}