#boton{
	width: 200px;
	display: block;
	margin: 10px auto;
	height: 40px;
	background-color: #1ABDBD;
	color: white;
}

#boton:nth-of-type(3){
	background-color: #5C0101;

}

.columna_principal{
	display: -ms-flex;display: -webkit-flex;
	display: flex;width: 100%;
	max-width: 900px;
	margin: auto;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.columna1{
	width: 100%;
	max-width: 400px;
	padding:0 10px;
	flex-grow: 1;
	height: auto;
	background-color: blue;
	margin: 5px;
}

.columna2{
	width: 100%;
	max-width: 400px;
	padding:0 10px;
	flex-grow: 1;
	height: auto;
	background-color: green;
	margin: 5px;
}

